.popup__input-error {
    color: red;
    display: flex;
    font-size: 12px;
    max-width: 356px;
    padding: 5px 0 0;
    position: relative;
    min-height: 28px;
}


@media screen and (max-width: 767px) {
    .popup__input-error {
      max-width: 230px;
    }
  }
  