.profile__edit-btn {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../images/edit-btn.svg);
    align-self: center;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.profile__edit-btn:hover {
    opacity: 0.5;
}

@media  screen and (max-width: 767px) {
    .profile__edit-btn {
      width: 18px;
      height: 18px;
      align-self: auto;
      margin-top: 10px;
      background-size: 7.5px;
    }
    
}