.elements__like {
  min-height: 19px;
  width: 22px;
  background-image: url(../../../images/like-image.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  cursor: pointer;
  transition: 0.3s ease-in;
  border: none;
  background-color: transparent;
}

.elements__like:hover {
  opacity: 0.5;
}
