.popup__close-button {
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  width: 32px;
  min-height: 32px;
  background-image: url(../../../images/close-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    width: 20px;
    min-height: 20px;
    top: -30px;
    right: -0;
    background-size: 20px;
  }
}
